<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><span class="glyphicon glyphicon-arrow-left"></span></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><span class="glyphicon glyphicon-arrow-right"></i></a>
        <li class="sidebar-brand"><a href="#">OxCircle</a></li>
        <li><a href="#top"> <span class="glyphicon glyphicon-home"> Home</span> </a></li>
        <li><a href="#about"> <span class="glyphicon glyphicon-list-alt"> About</span> </a></li>
        <li><a href="#services"> <span class="glyphicon glyphicon-th"> Register</span> </a></li>
        <li>
          <% if user_signed_in? %>
             <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow"> <span class="glyphicon glyphicon-user"> Logout</span> </a>
          <% else %>
            <a href="<%= new_user_session_path %>"> <span class="glyphicon glyphicon-user"> Login</span> </a>
          <% end %>
        </li>
        <li><a href="#contact"> <span class="glyphicon glyphicon-envelope"> Contact</span> </a></li>
        <li>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." id="query" name="query" value="">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
          </div>
        </li>
      </ul>
    </div>